*
{
    padding: 0;
    margin: 0;
}
*
{
    box-sizing: border-box;
}

/*header*/
header
{
    background-image: url(./images/slideshow-1.jpg);
    background-size: cover;
    height: 700px;
}
.slide-2
{
    background-image: url(./images/slideshow-2.jpg);
    background-size: cover;
    height: 700px;
}
.slid-3
{
    background-image: url(./images/slideshow-3.jpg);
    background-size: cover;
    height: 700px;
}

.bg-light
{
    background-color: transparent!important;
    
}
.navs
{
    background-color: rgba(0, 0, 0, 0.1);
}
.navbar-brand img 
{
    width: 100px;
    margin: ;
}
nav a
{
    color: white!important;
}
.head2
{
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.head2 h2 
{
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    text-transform: none;
    font-family: "Poppins", sans-serif;
    color: #f1f1f1;
    font-weight: 900;
    font-size: 50px;
    line-height: 100px;
    
    
}
.head2 h3
{
   
    
    position: absolute;
    top: 0.9px;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    
}
.line-head 
{
    text-align: center;
    margin-top:60px ;
}

.line-h
{
    width: 50px;
    height: 2px;
    background-color:black ;
    text-align: center;
    margin: auto;
}
.contain-head
{
    text-align: center;
}
img
{
    width: 100%;
}
.card
{
    
}
.list-group-item
{
    border: none;
}
.works
{
    background-color: black;
    padding: 80px 0;

}
.works i
{
    color: #f25454 ;
    font-size: 2rem;
}
.im img
{
    width: 100%;
}
footer img
{
    width: 50px;
    height: 50px;
}
footer
{
    background-image: url(dotted-map.png);
    background-size: cover;
   
}